@import "../styles/mixin" ;
.btn {
    background: linear-gradient(180deg, #FFF613 0%, #F37500 100%);
    box-shadow: 0px 0.398329px 1.19499px rgba(0, 0, 0, 0.3);
    border-radius: 36px;
    transform: translate(-140px,40px);  
    min-width: 55px ;
    height: 46px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include respond(smallest-screen)
    {
        transform: translate(-120px,40px);   
    }
    &__txt {
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;

    }
    
    &.bd-red {
        border: solid 1.5px #FF9138;
        color: #FF9138;
    }
    &.cl-orange {
        
        color: #FF7506;
    }
    &.sz-medium {
        
        padding: 4.5px 28px 12.5px 28px;
        font-size: 16px;
        
        transform: translate(0,40px); 
    }
    &.sz-large {
        
        margin-top: 10px;
        padding: 0 28px 8px;
            width: 170px;
            
            transform: translate(0,40px); 
    }
    &.sz-small {
       
            height: 48px;
            font-size: 16px;
            width: 115px;
            padding: 13px 28.5px;
            font-size: 16px;
            font-weight: 700;
            line-height: 21.82px;
           

    }
    &.sz-special{
      
        justify-content: center;
        padding: 0px 11.3636px 3.24675px;
        width: 107.14px;
        border-radius: 6.61603px;
 
        transform: translate(0,40px); 
        height: 28.41px;
        
    }   
    &.sz-xm{
        width: 180px;
        height: 62px;
        border-radius: 18px;
        transform: translate(0,40px); 
    }
}