.homepage{
    width: calc(100% - 32px);
    height: 100%;
position: relative;
display: flex;
align-items: center;
justify-content: center;
margin-left: 16px;


}
.bg-image{
position: absolute;
top :39%;

}