@import "../styles/mixin";
.main-quicklyanswer {
    background-image: url(../../shared/assets/images/bg-quicklyanswer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 100%;
    height: 100%;
    display: flex ;
   
    align-items: center;
    flex-direction: column;
    &__button {
        margin-top: 117%;
        @include respond(small-screen){
            margin-top: 121%;
        }
        @include respond(xxs-screen){
            margin-top: 116%;
        }
    }
}