@import "../styles/mixin";
.main-llvhome {
    background-image: url(../../shared/assets/images/bg-homellv.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 100%;
    height: 100%;
    display: flex ;
   
    align-items: center;
    flex-direction: column;
    &__buttongroup{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 118%;
        @include respond(smallest-screen){
            margin-top: 108%;
        }
    }
}