@import "../styles/mixin";
.main-llvhome {
    background-image: url(../../shared/assets/images/bg-homellv.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 100%;
    height: 100%;
    display: flex ;
   
    align-items: center;
    flex-direction: column;
    
    &__buttongroup{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 118%;
        @include respond(x-screen){
            margin-top: 102%;
        }
        @include respond(small-screen){
            margin-top: 113%;
        }
        @include respond(xxs-screen){
            margin-top: 118%;
        }
    }
}
.ant-modal-footer{
    display: none;
}
.ant-modal-close{
    display: none;
}
.ant-modal-content{
    background-color: transparent;
    padding :0;
    height: 100%;
 
}
.ant-modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    
}
.button-position{
    position: absolute;
    top :43%;
}
.button-position1{
    position: absolute;
    top :45%;
}