@use "variable";
.ant-btn.ant-btn-default{
  background: linear-gradient(180deg, #FFF613 0%, #F37500 100%);
  box-shadow: 0px 0.398329px 1.19499px rgba(0, 0, 0, 0.3);
  border-radius: 6.61603px;
  width: 107.14px;
height: 28.41px;
transform: translateY(50px);

border: none;
  &::before{
    content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: -10px;
  background-image: linear-gradient(to right top, #FEFF0B 100% , #FFDF00A1 63%);
  border-radius: inherit;
  }
span{
  background: linear-gradient(180deg, #BC000E 20.36%, #D60D00 149.21%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;


} 
&:hover{
  background: linear-gradient(180deg, #FFF613 0%, #F37500 100%);
  border: none;
  span{
    background: linear-gradient(180deg, #BC000E 20.36%, #D60D00 149.21%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

  }
}
}
.ant-btn,
button.ant-btn.normal-button,
.ant-modal-confirm-btns button.ant-btn,
button.ant-btn.cancel-button,
.normal-button,
.cancel-button {
  min-width: 15rem;
  min-height: 4.8rem;
  border-radius: 0.8rem;
  font-weight: bold;
  font-size: $fs-2;
  padding: 0;
  transition: All 0.3s;
  border: 1px solid $color-button-normal;

  background: $color-button-normal;
  color: $color-button-cancel;

  &:hover {
    background: $color-button-cancel;
    color: $color-button-normal;
    border: 1px solid $color-button-normal;

  }

  &:focus {
    outline: none;
  }
}

.delete-button {
  border: 1px solid $color-button-normal;
  color: $color-button-cancel;
  color: $color-button-normal;
}

button.ant-btn.disabled-button {
  min-width: 15rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  font-weight: bold;
  font-size: $fs-3;
}

button.ant-btn.bg-custom-button {
  background-color: $color-button-normal;
  color: $color-button-cancel;

  &:hover {
    opacity: 0.8;
  }

  transition: 0.2s;
  font-weight: $font-weight-bold;
  height: 4rem;
  border: none;
}

.ant-btn,
button.ant-btn.cancel-button,
button.ant-btn.ant-btn-dangerous,
.cancel-button {
  background: $color-button-cancel;
  color: $color-button-normal;

  &:hover {
    background: $color-button-normal;
    color: $color-button-cancel;
  }

  &:focus {
    outline: none;
  }
}

.button-center__box {
  text-align: center;
}

.ant-modal-confirm .ant-modal-confirm-btns .ant-btn+.ant-btn {
  background: $color-button-normal;
  color: $color-button-cancel;

  &:hover {
    background: $color-button-cancel;
    color: $color-button-normal;
    border: 1px solid $color-button-normal;
  }
}

.modal-delete-confirm .ant-modal-content .ant-modal-body .ant-modal-confirm-btns button:first-child {
  &:hover {
    background: $color-button-normal;
    color: $color-button-cancel;
    border: 1px solid $color-button-normal;
  }
}